<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @comment.user_id %>
</p>

<p>
  <b>Title:</b>
  <%= @comment.title %>
</p>

<p>
  <b>Message:</b>
  <%= @comment.message %>
</p>

<p>
  <b>Valoration:</b>
  <%= @comment.valoration %>
</p>

<p>
  <b>Delete:</b>
  <%= @comment.delete %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
