<h1>Listing products_comments</h1>

<table>
  <tr>
    <th>Product</th>
    <th>Comment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @products_comments.each do |products_comment| %>
  <tr>
    <td><%= products_comment.product_id %></td>
    <td><%= products_comment.comment_id %></td>
    <td><%= link_to 'Show', products_comment %></td>
    <td><%= link_to 'Edit', edit_products_comment_path(products_comment) %></td>
    <td><%= link_to 'Destroy', products_comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Products comment', new_products_comment_path %>
