<h1>Lista de Usuarios</h1>

<table border="1">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Password</th>
    <th>Photo</th>
    <th>Status</th>
    <th>Rank</th>
    <th>Iddeleted</th>
    <th>City</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= user.password %></td>
    <td><%= user.photo_id %></td>
    <td><%= user.status %></td>
    <td><%= user.rank %></td>
    <td><%= user.idDeleted %></td>
    <td><%= user.city_id %></td>
    <td><%= link_to 'Ver', user %></td>
    <td><%= link_to 'Editar', edit_user_path(user) %></td>
    <td><%= link_to 'Eliminar', user, method: :delete, data: { confirm: '¿Esta seguro que desea eliminar a ' + user.name + '?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Sign Up', new_user_path %>
