<h1>Listing products</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Descripcion</th>
    <th>Codigo barras</th>
    <th>Valoracion</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @products.each do |product| %>
  <tr>
    <td><%= product.nombre %></td>
    <td><%= product.descripcion %></td>
    <td><%= product.codigo_barras %></td>
    <td><%= product.valoracion %></td>
    <td><%= link_to 'Ver', product %></td>
    <td><%= link_to 'Editar', edit_product_path(product) %></td>
    <td><%= link_to 'Eliminar', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <td><%= link_to 'Ver Precios', prices_path(:product_id => product.id) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo Producto', new_product_path %>
