<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @product.nombre %>
</p>

<p>
  <b>Descripcion:</b>
  <%= @product.descripcion %>
</p>

<p>
  <b>Codigo barras:</b>
  <%= @product.codigo_barras %>
</p>

<p>
  <b>Valoracion:</b>
  <%= @product.valoracion %>
</p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
