<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @product.nombre %>
</p>

<p>
  <b>Descripcion:</b>
  <%= @product.descripcion %>
</p>

<p>
  <b>Codigo barras:</b>
  <%= @product.codigo_barras %>
</p>

<p>
  <b>Valoracion:</b>
  <%= @product.valoracion %>
</p>
prices?product_id=2

<%= link_to 'ver Precios', prices_path(:product_id => @product.id) %>
<%= link_to 'Crear Precios', new_price_path(:product_id => @product.id) %>
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
